<header class="site-header">
  <a href="./index.html" class="logo">
    <span class="logo-mark">
      <img src="./assets/logo-lunar.png" alt="Logo Lunar" class="logo-img" />
    </span>

    <span>Central Lunar</span>
  </a>

  <nav class="header-nav">
    <a href="./pontuacoes.html">Pontuação Geral</a>

    <div class="nav-dropdown">
      <button type="button" class="nav-dropdown-btn">
        Enviar Pontuações
      </button>

      <div class="nav-dropdown-menu">
        <a href="./enviar-sub.html">Pontos dos Subs</a>
        <a href="./enviar-leitura-lunar.html">Leitura Lunar</a>
        <a href="./enviar-chuva-estrelas.html">Chuva de Estrelas</a>
        <a href="./enviar-diario-lunar.html">Diário Lunar</a>
        <a href="./enviar-jornada-mistica.html">Jornada Mística</a>
        <a href="./enviar-ascensao.html">Ascensão</a>
        <a href="./enviar-redes-sociais.html">Redes Sociais</a>
        <a href="./enviar-divulgacoes.html">Divulgações</a>
        <a href="./enviar-casas.html">Casas</a>
        <a href="./enviar-loja-lunar.html">Loja Lunar</a>
      </div>
    </div>

    <a href="./login.html">Acesso ADM</a>
  </nav>
</header>
