<header class="site-header">
  <a href="./index.html" class="logo">
    <span class="logo-mark">
      <img 
        src="./assets/logo-lunar.png" 
        alt="Logo Lunar"
        class="logo-img"
      />
    </span>

    <span>LUNAR</span>
  </a>

  <nav class="header-nav">
    <a href="./index.html">Início</a>
    <a href="./enviar-sub.html">Enviar sub</a>
    <a href="./enviar-leitura-lunar.html">Leitura Lunar</a>
    <a href="./enviar-chuva-estrelas.html">Chuva de Estrelas</a>
    <a href="./pontuacoes.html">Pontuações</a>
    <a href="./login.html">Painel</a>
  </nav>
</header>
