<header class="site-header">
  <a href="./index.html" class="logo">
    <span class="logo-mark">
      <img 
        src="./assets/logo-lunar.png" 
        alt="Logo Lunar"
        class="logo-img"
      />
    </span>

    <span>LUNAR</span>
  </a>

  <nav class="header-nav">
    <a href="./index.html">Início</a>

    <div class="nav-dropdown">
      <button type="button" class="nav-dropdown-btn">
        Enviar Pontuações ▾
      </button>

      <div class="nav-dropdown-menu">
        <a href="./enviar-sub.html">Enviar sub</a>
        <a href="./enviar-leitura-lunar.html">Leitura Lunar</a>
        <a href="./enviar-chuva-estrelas.html">Chuva de Estrelas</a>
        <a href="./enviar-adms.html">Pontuação dos ADMs</a>
        <a href="./enviar-diario-lunar.html">Diário Lunar</a>
        <a href="./enviar-ascensao.html">Ascensão</a>
        <a href="./enviar-redes-sociais.html">Redes Sociais</a>
        <a href="./enviar-divulgacoes.html">Divulgações</a>
      </div>
    </div>

    <a href="./pontuacoes.html">Pontuações</a>
    <a href="./login.html">Painel</a>
  </nav>
</header>