<aside class="sidebar">
  <div class="sidebar-user">
    <span id="usuarioSistemaInfo">Carregando...</span>
  </div>

  <nav>
    <a href="./admin.html">Dashboard</a>
    <a href="./membros.html">Membros</a>
    <a href="./subs.html">Subs</a>
    <a href="./leitura-lunar.html">Leitura Lunar</a>
    <a href="./chuva-estrelas.html">Chuva de Estrelas</a>
    <a href="#">Pontuação dos ADMs</a>
    <a href="#">Diário Lunar</a>
    <a href="#">Ascensão</a>
    <a href="#">Redes Sociais</a>
    <a href="#">Divulgações</a>
    <a href="./ajustes.html">Ajustes Manuais</a>
    <a href="./pontuacoes.html">Pontuações</a>
    <a href="./cadastros.html" data-superadmin-only>Cadastros</a>
  </nav>

  <button id="logoutBtn" class="btn danger full">
    Sair
  </button>
</aside>