<aside class="sidebar">
  <nav>
    <a href="./admin.html">Dashboard</a>
    <a href="#">Membros</a>
    <a href="./subs.html">Subs</a>
    <a href="#">Leitura Lunar</a>
    <a href="#">Chuva de Estrelas</a>
    <a href="#">Pontuação dos ADMs</a>
    <a href="#">Diário Lunar</a>
    <a href="#">Ascensão</a>
    <a href="#">Redes Sociais</a>
    <a href="#">Divulgações</a>
    <a href="#">Ajustes Manuais</a>
    <a href="./pontuacoes.html">Pontuações</a>
  </nav>

  <button id="logoutBtn" class="btn danger full">
    Sair
  </button>
</aside>
